body {
    background-color: #000;
    font-family: 'Exo';
}

.mainContainer {
    width: 1200px;
    margin: auto;
}

.footer {
    width: 50px;
    min-height: 50px;
}

.mainTitle {
    color: #999;
    font-size: 26px;
}

.mainDescription {
    color: #666;
    font-size: 16px;
}

.menuOption {
    color: #6FA4E1;
    margin-right: 20px;
}

.chartContainer {
    width: 700px;
    float: left;
}

.playerContainer {
    width: 466px;
    float: left;
    position: relative;
    max-height: 500px;
    border: 1px solid #333;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 80px 80px;
}

.chartHeader {
    width: 700px;
    height: 60px;
    line-height: 60px;
    color: #666;
}

.columnHeader {
    float: left;
    border: 1px solid #000;
    height: 100%;
    vertical-align: middle;    
}

.positionHeader {
    width: 60px;
    text-align: center;
}

.coverHeader {
    width: 60px;
}

.artistTitleHeader {
    width: 420px;
    padding-left: 5px;
}

.lastHeader {
    width: 40px;
    text-align: center;
}

.peakHeader {
    width: 40px;
    text-align: center;
}

.weeksHeader {
    width: 40px;
    text-align: center;
}

.chartContent {
    clear: left;
}

.track {
    height: 60px;
    clear: left;
    color: #BBB;
}

.trackCell {
    float: left;
    border: 1px solid #333;
}

.trackCell.off {
    color: #000;
}

.trackCell.trackCover.off img {
    display: none;
}

.trackCell.trackCover.on img {
    display: block;
}

.trackCell.on {
    color: #BBB;
}

.track.current div.trackCell.trackPosition.down {
    background-color: #333;
    color: #AAA;

    -webkit-animation: blinkd 1s infinite; /* Safari 4+ */
    -moz-animation:    blinkd 1s infinite; /* Fx 5+ */
    -o-animation:      blinkd 1s infinite; /* Opera 12+ */
    animation:         blinkd 1s infinite; /* IE 10+, Fx 29+ */
    }

    @-webkit-keyframes blinkd {
    0%, 49% {
        background-color: #333;
        color: #AAA;
    }
    50%, 100% {
        background-color: #D15961;
        color: #555;
    }
}

.track.current div.trackCell.trackPosition.eq {
    background-color: #333;
    color: #AAA;

    -webkit-animation: blinke 1s infinite; /* Safari 4+ */
    -moz-animation:    blinke 1s infinite; /* Fx 5+ */
    -o-animation:      blinke 1s infinite; /* Opera 12+ */
    animation:         blinke 1s infinite; /* IE 10+, Fx 29+ */
    }

    @-webkit-keyframes blinke {
    0%, 49% {
        background-color: #333;
        color: #AAA;
    }
    50%, 100% {
        background-color: #ffdb4d;
        color: #555;
    }
}

.track.current div.trackCell.trackPosition.up {
    background-color: #333;
    color: #AAA;

    -webkit-animation: blinku 1s infinite; /* Safari 4+ */
    -moz-animation:    blinku 1s infinite; /* Fx 5+ */
    -o-animation:      blinku 1s infinite; /* Opera 12+ */
    animation:         blinku 1s infinite; /* IE 10+, Fx 29+ */
    }

    @-webkit-keyframes blinku {
    0%, 49% {
        background-color: #333;
        color: #AAA;
    }
    50%, 100% {
        background-color: #65C485;
        color: #555;
    }
}

.track.current div.trackCell.trackPosition.entry {
    background-color: #333;
    color: #AAA;

    -webkit-animation: blinko 1s infinite; /* Safari 4+ */
    -moz-animation:    blinko 1s infinite; /* Fx 5+ */
    -o-animation:      blinko 1s infinite; /* Opera 12+ */
    animation:         blinko 1s infinite; /* IE 10+, Fx 29+ */
    }

    @-webkit-keyframes blinko {
    0%, 49% {
        background-color: #333;
        color: #AAA;
    }
    50%, 100% {
        background-color: #4db8ff;
        color: #555;
    }
}

.trackCell.trackPosition.off {
    color: #555;
}

.trackCell.trackPosition.on {
    color: #333;
    background-color: #BBB;
}

.trackPosition {
    width: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 26px;
}

div.trackCell.trackPosition.on.down {
    background-color: #D15961
}

div.trackCell.trackPosition.on.up {
    background-color: #65C485
}

div.trackCell.trackPosition.on.eq {
    background-color: #ffdb4d
}

div.trackCell.trackPosition.on.entry {
    background-color: #4db8ff
}

.trackCover {
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.trackArtistTitle {
    padding-left: 5px;
    line-height: 60px;
    width: 420px;
    height: 60px;
}

.trackArtist {
    line-height: 30px;
}

.trackTitle {
    line-height: 30px;
    font-size: 14px;
}

.trackLast {
    width: 40px;
    line-height: 60px;
    text-align: center;
}

.trackPeak {
    width: 40px;
    line-height: 60px;
    text-align: center;
}

.trackWeeks {
    width: 40px;
    line-height: 60px;
    text-align: center;
}

.trackCoverImage {
    width: 56px;
    height: 56px;
    padding-top: 1px;
    padding-left: 1px;
}

.playerLabel {
    display: none;
    position: absolute;
    top: 250px;
    left: 0px;
    z-index: 1000;    
}

.playerLabelContainer {
    position: absolute;
    top: 250px;
    left: 0px;
    z-index: 900;
    background-color: #000;
    width: 464px;
    height: 42px;    
}

.playerPosition {
    float: left;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: #000;
    font-size: 24px;
}

.playerPosition.down {
    background-color: #D15961
}

.playerPosition.up {
    background-color: #65C485
}

.playerPosition.eq {
    background-color: #ffdb4d
}

.playerPosition.entry {
    background-color: #4db8ff
}

.playerTitleArtist {
    padding-left: 5px;
    float: left;
    width: 420px;
    height: 40px;
    color: #000;
    background-color: #BBB;
}

.playerTitle {
    font-size: 14px;
}

#videoPlayer2 {
    display: none;
    margin-left: 3px;
}

#videoPlayer1 {
    display: block;
    margin-left: 3px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.playerControls {
    width: 100%;
    padding-left: 175px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.playerControls div a {
    color: #6FA4E1;
    text-decoration: none;
}

.playerControls div {
    width: 50px;
    float: left;
}
