body {
    background-color: #000;
    font-family: 'Exo';
}

.mainContainer {
    width: 1200px;
    margin: auto;
}

.header {
    width: 100%;
}

.footer {
    width: 1200px;
    min-height: 50px;
    margin: auto;
}

.mainTitleSection {
    float: left;
}

.mainTitle {
    float: left;
    color: #6893d8;
    font-size: 26px;
}

.mainTitle h1 {
    line-height: 30px;
}

.mainDescription {
    float: left;
    font-size: 14px;
    color: #777;
    margin-top: 30px;
    margin-left: 22px;
}

.mainBody {
    color: #777;
    font-size: 14px;
    margin-bottom: 20px; 
}

.mainDescription .highlight {
    color: #6893d8;
}

.weekDescription {
    margin-top: 54px;
    margin-right: 35px;
    color: #999;
    font-size: 14px;
    float: right;
}

.menuOption {
    color: #6FA4E1;
    margin-right: 20px;
}

.menuOption.playChart {
    font-size: 20px;
}

.menuOption.showChart {
    font-size: 14px;
    color: #999;
}

.chartContainer {
    width: 700px;
    float: left;
}

.playerContainer {
    width: 466px;
    float: left;
    position: relative;
    max-height: 500px;
    border: 1px solid #333;
    background-repeat: no-repeat;
    background-position: center; 
    background-size: 80px 80px;
    margin-top: 62px;
}

.chartHeader {
    width: 700px;
    height: 60px;
    line-height: 60px;
    color: #666;
}

.columnHeader {
    float: left;
    border: 1px solid #000;
    height: 100%;
    vertical-align: middle;    
}

.positionHeader {
    width: 60px;
    text-align: center;
}

.coverHeader {
    width: 60px;
}

.artistTitleHeader {
    width: 380px;
    padding-left: 5px;
}

.optionsHeader {
    width: 40px;
}

.lastHeader {
    width: 40px;
    text-align: center;
}

.peakHeader {
    width: 40px;
    text-align: center;
}

.weeksHeader {
    width: 40px;
    text-align: center;
}

.chartContent {
    clear: left;
}

.track {
    height: 60px;
    clear: left;
    color: #BBB;
}

.trackCell, .trackOutCell {
    float: left;
    border: 1px solid #333;
}

.trackCell.off, .trackOutCell.off {
    color: #000;
}

.trackCell.trackCover.off img, .trackOutCell.trackCover.off img {
    display: none;
}

.trackCell.trackCover.on img, .trackOutCell.trackCover.on img {
    display: block;
    margin-top: 1px;
    margin-left: 1px;
}

.trackCell.on {
    color: #BBB;
}

.track.current div.trackCell.trackPosition.down {
    background-color: #333;
    color: #AAA;
    background-image: url('../images/down.png');
    background-repeat: no-repeat;
    background-position: 25px 44px;
    background-size: 11px 11px;

    -webkit-animation: blinkd 1s infinite; /* Safari 4+ */
    -moz-animation:    blinkd 1s infinite; /* Fx 5+ */
    -o-animation:      blinkd 1s infinite; /* Opera 12+ */
    animation:         blinkd 1s infinite; /* IE 10+, Fx 29+ */
    }

    @-webkit-keyframes blinkd {
    0%, 49% {
        background-color: #333;
        color: #AAA;
    }
    50%, 100% {
        background-color: #D15961;
        color: #555;
    }
}

.track.current div.trackCell.trackPosition.eq {
    background-color: #333;
    color: #AAA;
    background-image: url('../images/eq.png');
    background-repeat: no-repeat;
    background-position: 25px 44px;
    background-size: 11px 11px;

    -webkit-animation: blinke 1s infinite; /* Safari 4+ */
    -moz-animation:    blinke 1s infinite; /* Fx 5+ */
    -o-animation:      blinke 1s infinite; /* Opera 12+ */
    animation:         blinke 1s infinite; /* IE 10+, Fx 29+ */
    }

    @-webkit-keyframes blinke {
    0%, 49% {
        background-color: #333;
        color: #AAA;
    }
    50%, 100% {
        background-color: #ffdb4d;
        color: #555;
    }
}

.track.current div.trackCell.trackPosition.up {
    background-color: #333;
    color: #AAA;
    background-image: url('../images/up.png');
    background-repeat: no-repeat;
    background-position: 25px 44px;
    background-size: 11px 11px;

    -webkit-animation: blinku 1s infinite; /* Safari 4+ */
    -moz-animation:    blinku 1s infinite; /* Fx 5+ */
    -o-animation:      blinku 1s infinite; /* Opera 12+ */
    animation:         blinku 1s infinite; /* IE 10+, Fx 29+ */
    }

    @-webkit-keyframes blinku {
    0%, 49% {
        background-color: #333;
        color: #AAA;
    }
    50%, 100% {
        background-color: #65C485;
        color: #555;
    }
}

.track.current div.trackCell.trackPosition.entry {
    background-color: #333;
    color: #AAA;
    background-image: url('../images/entry.png');
    background-repeat: no-repeat;
    background-position: 25px 44px;
    background-size: 11px 11px;

    -webkit-animation: blinko 1s infinite; /* Safari 4+ */
    -moz-animation:    blinko 1s infinite; /* Fx 5+ */
    -o-animation:      blinko 1s infinite; /* Opera 12+ */
    animation:         blinko 1s infinite; /* IE 10+, Fx 29+ */
    }

    @-webkit-keyframes blinko {
    0%, 49% {
        background-color: #333;
        color: #AAA;
    }
    50%, 100% {
        background-color: #4db8ff;
        color: #555;
    }
}

.trackCell.trackPosition.off {
    color: #555;
}

.trackOutCell.trackPosition.off {
    color: #000;
}

.trackCell.trackPosition.on {
    color: #333;
    background-color: #BBB;
}

.trackOutCell.trackPosition.on {
    color: #BBB;
}

.trackPosition {
    width: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 26px;
}

div.trackCell.trackPosition.on.down {
    background-color: #D15961;
    background-image: url('../images/down.png');
    background-repeat: no-repeat;
    background-position: 25px 44px;
    background-size: 11px 11px;
}

div.trackCell.trackPosition.on.up {
    background-color: #65C485;
    background-image: url('../images/up.png');
    background-repeat: no-repeat;
    background-position: 25px 44px;
    background-size: 11px 11px;
}

div.trackCell.trackPosition.on.eq {
    background-color: #ffdb4d;
    background-image: url('../images/eq.png');
    background-repeat: no-repeat;
    background-position: 25px 44px;
    background-size: 11px 11px;
}

div.trackCell.trackPosition.on.entry {
    background-color: #4db8ff;
    background-image: url('../images/entry.png');
    background-repeat: no-repeat;
    background-position: 25px 44px;
    background-size: 11px 11px;
}

div.trackCell.trackPosition.on.out {
    background-image: url('../images/out.png');
    background-repeat: no-repeat;
    background-position: 25px 44px;
    background-size: 11px 11px;
}

.trackCover {
    width: 60px;
    height: 60px;
    line-height: 60px;
}

.trackArtistTitle {
    padding-left: 5px;
    line-height: 60px;
    width: 380px;
    height: 60px;
}

.trackCell.trackArtistTitle, .trackOutCell.trackArtistTitle {
    border-right: none;
}

.trackArtist {
    line-height: 30px;
}

.trackTitle {
    line-height: 30px;
    font-size: 14px;
}

.trackArtist.on {
    color: #DDD;
}

.trackOptions {
    width: 40px;
    line-height: 60px;
    text-align: center;
}

.trackCell.trackOptions, .trackOutCell.trackOptions {
    border-left: none;
}

.trackOptions.on a {
    color: #DDD;
    font-size: 24px;
    text-decoration: none;
    cursor: pointer;
}

.trackOptions.off a {
    color: #000;
    font-size: 24px;
    text-decoration: none;
}

.trackLast {
    width: 40px;
    line-height: 60px;
    text-align: center;
}

.trackPeak {
    width: 40px;
    line-height: 60px;
    text-align: center;
}

.trackWeeks {
    width: 40px;
    line-height: 60px;
    text-align: center;
}

.trackCoverImage {
    width: 56px;
    height: 56px;
    padding-top: 1px;
    padding-left: 1px;
}

.playerLabel {
    display: none;
    position: absolute;
    top: 250px;
    left: 0px;
    z-index: 1000;    
}

.playerLabelContainer {
    position: absolute;
    top: 250px;
    left: 0px;
    z-index: 900;
    background-color: #000;
    width: 464px;
    height: 42px;    
}

.playerPosition {
    float: left;
    width: 40px;
    line-height: 40px;
    text-align: center;
    color: #000;
    font-size: 24px;
}

.playerPosition.down {
    background-color: #D15961;
    background-image: url('../images/down.png');
    background-repeat: no-repeat;
    background-position: 16px 31px;
    background-size: 8px 8px;
}

.playerPosition.up {
    background-color: #65C485;
    background-image: url('../images/up.png');
    background-repeat: no-repeat;
    background-position: 16px 31px;
    background-size: 8px 8px;
}

.playerPosition.eq {
    background-color: #ffdb4d;
    background-image: url('../images/eq.png');
    background-repeat: no-repeat;
    background-position: 16px 31px;
    background-size: 8px 8px;
}

.playerPosition.entry {
    background-color: #4db8ff;
    background-image: url('../images/entry.png');
    background-repeat: no-repeat;
    background-position: 16px 31px;
    background-size: 8px 8px;
}

.playerTitleArtist {
    padding-top: 1px;
    padding-bottom: 1px;
    padding-left: 5px;
    float: left;
    width: 420px;
    height: 40px;
    color: #222;
    background-color: #BBB;
}

.playerArtist {
    color: #000;
}

.playerTitle {
    font-size: 14px;
}

#videoPlayer2 {
    display: none;
    margin-left: 3px;
}

#videoPlayer1 {
    display: block;
    margin-left: 3px;
}

.clearfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.clearfix {
    display: inline-block;
}

html[xmlns] .clearfix {
    display: block;
}

* html .clearfix {
    height: 1%;
}

.playerControls {
    width: 100%;
    padding-left: 175px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.playerControls div a {
    color: #6FA4E1;
    text-decoration: none;
}

.playerControls div {
    width: 50px;
    float: left;
}

.contactUs {
    color: #777;
    margin-top: 40px;
    margin-bottom: 40px;
}

.contactMail {
    color: #6FA4E1;
}

.previousWeek a {
    color: #6FA4E1;
    text-decoration: none;
    margin-right: 15px;
}

.nextWeek a {
    color: #6FA4E1;
    text-decoration: none;
    margin-left: 15px;
}

.tracksOutContent {
    margin-top: 40px;
}